@import "tailwindcss";
html {
  scroll-behavior: smooth;
  font-family: "Special Gothic Condensed One", sans-serif;
}
.bg_head {
  background: url(../public/header/chinar3.jpg) center/cover no-repeat;
  min-height: 100vh;
}
